<h1>Stuff you <strong>MUST</strong> do</h1>

<h3>Here is all the stuff you gotta do:</h3>

<ul>
  <% @tasks.each() do |task| %>
    <li><%= task.description() %></li>
  <% end %>
</ul>

<p>Create a new task:</p>

<form action="/tasks" method="post">
  <label for="description">Watcha gotta do?</label>
  <input id="description" name="description" placeholder="your chore goes here" type="text">

  <button type="submit">Add task</button>
</form>
